<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409268117141-t65dci2lfg984020as3jtpcpm0v48jd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409268117141-t65dci2lfg984020as3jtpcpm0v48jd4</string>
	<key>API_KEY</key>
	<string>AIzaSyC-Vj0nKP9GhN4W2Dxxr3vunENajZKgY8o</string>
	<key>GCM_SENDER_ID</key>
	<string>409268117141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cihattasci.myDream</string>
	<key>PROJECT_ID</key>
	<string>mydream-e474b</string>
	<key>STORAGE_BUCKET</key>
	<string>mydream-e474b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409268117141:ios:d567bcef9b8fe650f7059c</string>
</dict>
</plist>